.order {
  margin-top: 44px;
  &__h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 19px;
  }
  &__title {
    color: #75757f;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

  }
  &__ul {
    margin-top: 0;
    padding-left: 0;

  }
  &__li {
    padding-left: 0;
    color: #75757f;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .order {
    margin: 0 15px;
  }
}